# Ignore common macOS and IDE files everywhere
.DS_Store
.idea/

# Ignore personal notes and logs from the root
/personal_notes.md
.update_logs/
structure_Elysium-Nova.txt

# Ignore CSV tables of projects
.tables/

# Ignore PROJECT_ROADMAP until production ready
PROJECT_ROADMAP.md