# Virtual Environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# IDE configuration files (PyCharm)
.idea/
*.iml

# macOS system files
.DS_Store
._*

# DVC files
.dvc/cache
.dvc/tmp
.dvc/config.local

# Generated artifacts from our pipeline
output/

# Environment variables
.env

# Private notes
personal_notes.md